---
import BlogList from "@components/BlogList.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <!-- BLOG PAGE -->
  <main
    class="h-dvh container min-w-96 mx-auto p-8 sm:p-12 flex items-center justify-center"
  >
    <BlogList />
  </main>
</BaseLayout>
