@font-face {
  font-family: "Sarasa Mono SC";
  src: url("/fonts/SarasaMonoSC-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

del {
  background-color: #303030;
  color: #303030;
  transition: all 500ms;
}

del:hover {
  background-color: inherit;
  color: inherit;
}
