---
import BaseLayout from "@layouts/BaseLayout.astro";
import Fetch from "@components/Fetch.astro";
---

<BaseLayout>
  <!-- HOME PAGE -->
  <main
    class="h-dvh container min-w-96 mx-auto p-8 sm:p-12 flex flex-col items-center gap-8"
  >
    <Fetch />

    <p><a class="underline font-semibold hover:no-underline" href="/mdx">Visit my blog &rarr;</a></p>

  </main>
</BaseLayout>
