---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";

const blogEntries: CollectionEntry<"mdx">[] = await getCollection("mdx");
---

<div>
  <ul class="space-y-2">
    {
      blogEntries
        .sort(
          (prev, next) =>
            new Date(next.data.pubDate).getTime() -
            new Date(prev.data.pubDate).getTime(),
        )
        .map((post) => (
          <li class="flex items-center gap-4">
            <Icon name="mdi:link-variant" size={24} />
            <time class="text-sm">{post.data.pubDate}</time>
            <div>
              <a
                class="underline font-semibold hover:no-underline"
                href={`/mdx/${post.slug}`}
              >
                {post.data.title}
              </a>
            </div>
          </li>
        ))
    }
  </ul>
</div>
