---
import { Icon } from "astro-icon/components";

interface Props {
  url: string;
  icon: string;
  size: number;
}

const { url, icon, size } = Astro.props;
---

<a class="hover:scale-110 transition-transform" href={url} target="_blank">
  <Icon name={icon} size={size} />
</a>
